.cd-goods-show-cover {}

.cd-goods-show {
	background-color: #fff;
	margin-bottom: 30px;
}

.cd-goods-show .sec-kill-wrap {
	float: left;
	width: 190px;
	height: 260px;
	color: #fff;
	background-color: #e83632;
	background-image: url(img/sec-kill.png);
	border-right: 1px solid #ddd;
}
.cd-goods-show .sec-kill-wrap a:hover{
	color: #fff !important;
}

.cd-goods-show .sec-kill-wrap .sec-kill-lk {
	display: block;
	height: 100%;
	color: #fff;
}

.cd-goods-show .sec-kill-wrap .sec-kill-lk .sk-countDown {
	margin-top: 90px;
	font-size: 14px;
	text-align: center;
}

.cd-goods-show .sec-kill-wrap .sec-kill-lk .sk-cd {
	margin-left: auto;
	margin-right: auto;
	width: 130px;
	height: 30px;
	margin-top: 10px;
	display: block;
	/* background: #000; */
}

.cd-goods-show .sec-kill-wrap .sec-kill-lk .sk-cd .rec {
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: #2f3430;
	margin-right: 20px;
	color: white;
	font-size: 20px;
}

.cd-goods-show .sec-kill-wrap .sec-kill-lk .sk-cd .rec::after {
	content: ":";
	display: block;
	position: absolute;
	right: -20px;
	font-weight: bolder;
	font-size: 18px;
	width: 20px;
	height: 100%;
	top: 0;
}

.cd-goods-show .sec-kill-wrap .sec-kill-lk .sk-cd .rec.last::after {
	content: "";
}

.cd-goods-show .sec-kill-wrap .sec-kill-lk .sk-cd .rec.last {
	margin-right: 0;
}

.cd-goods-show .sec-kill-wrap .sec-kill-lk .sk-tt {
	height: 51px;
	margin-top: 42px;
	line-height: 51px;
	font-size: 30px;
	text-align: center;
	font-weight: 700;
}

.cd-goods-show .slider-wrap {
	position: relative;
	float: left;
	width: 800px;
	height: 260px;
	border-right: 1px solid #ddd;
}

.cd-goods-show .slider-wrap .slider .btn {
	position: absolute;
	top: 50%;
	border-radius: 0;
	width: 25px;
	height: 35px;
	line-height: 35px;
	background-color: #d9d9d9;
	background-color: rgba(0, 0, 0, .15);
	margin-top: -20px;
	font-size: 20px;
	z-index: 2;
	border: none;
	outline: none;
	cursor: pointer;
}
.cd-goods-show .slider-wrap .slider .btn:hover{
	background-color:rgba(0,0,0,.4);
}

.cd-goods-show .slider-wrap .slider .btn .fa {
	position: absolute;
	top: 50%;
	font-size: 20px;
	margin-top: -10px;
	color: rgba(255, 255, 255, .8);
}

.cd-goods-show .slider-wrap .slider .btn .fa-angle-left {
	left: 3px;
}

.cd-goods-show .slider-wrap .slider .btn .fa-angle-right {
	right: 3px;
}

.cd-goods-show .slider-wrap .slider .btn.left {
	left: 0;
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
}

.cd-goods-show .slider-wrap .slider .btn.right {
	right: 1px;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}

.cd-goods-show .slider-wrap .slider .slider-list {
	width: 800px;
	height: 260px;
}

.cd-goods-show .slider-wrap .slider .slider-list .slider-item {
	float: left;
	width: 200px;
	height: 260px;
	border-right: 1px solid #eee;
}
.cd-goods-show .slider-wrap .slider .slider-list .slider-item:hover{
	opacity:0.8;
}

.cd-goods-show .slider-wrap .slider .slider-list .slider-item .item-lk {
	display: block;
	width: 190px;
	height: 100%;
}

.cd-goods-show .slider-wrap .slider .slider-list .slider-item .goods-img {
	width: 100%;
	padding: 30px 30px 0 30px;
}

.cd-goods-show .slider-wrap .slider .slider-list .slider-item p {
	font-size: 12px;
	font-weight: 400;
	color: #333;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cd-goods-show .slider-wrap .slider .slider-list .slider-item .price {
	border: 1px solid #e1251b;
	position: relative;
	box-sizing: border-box;
	line-height: 24px;
	overflow: hidden;
	background-color: #e1251b;
	width: 160px;
	height: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7px;
}

.cd-goods-show .slider-wrap .slider .slider-list .slider-item .price .price-miaosha {
	width: 92px;
	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	float: left;
}

.cd-goods-show .slider-wrap .slider .slider-list .slider-item .price i {
	font-size: 12px;
	font-weight: 400;
	padding-right: 2px;
}

.cd-goods-show .slider-wrap .slider .slider-list .slider-item .price .price-miaosha::before {
	content: " ";
	width: 0;
	height: 0;
	border-color: transparent white transparent transparent;
	border-style: solid;
	border-width: 22px 8px 0 0;
	position: absolute;
	top: 0;
	left: 84px;
}

.cd-goods-show .slider-wrap .slider .slider-list .slider-item .price .price-origin {
	height: 100%;
	width: 66px;
	float: right;
	background: #fff;
	text-align: center;
	color: #999;
	font-size: 12px;
	line-height: 22px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: line-through;
	vertical-align: top;
}

.cd-goods-show .slider-wrap .slider .slider-list .slider-item .goods-img img {
	width: 140px;
	height: 140px;
	vertical-align: middle;
	/* 使图片居中 */
}

.cd-goods-show .slider-wrap2 {
	position: relative;
	float: left;
	width: 200px;
	height: 260px;
	padding: 10px;
}

.cd-goods-show .slider-wrap2 .slider-indicator {
	position: absolute;
	bottom: 6px;
	left: 50%;
	width: 28px;
	height: 14px;
	margin-left: -14px;
}

.cd-goods-show .slider-wrap2  .slider-indicator .indicator-dot {
	float: left;
	display: block;
	width: 6px;
	height: 6px;
	margin: 4px 0 0 4px;
	background-color: #b9beba;
	border-radius:50%;
	cursor:pointer;
}
.cd-goods-show .slider-wrap2  .slider-indicator .indicator-dot.cur{
	background-color: #e1251b;
}
.cd-goods-show .slider-wrap2 .slider-list .slider-item{
	float: left;
}
.cd-goods-show .slider-wrap2 .slider-list .slider-item:hover{
	opacity: .7;
}
.cd-goods-show .slider-wrap2 .slider-list .slider-item p {
	text-align: center;
	font-size: 14px;
	display: block;
}

.cd-goods-show .slider-wrap2 .slider-list .slider-item .t1 {
	margin-top: 6px;
	color: #666;
}

.cd-goods-show .slider-wrap2 .slider-list .slider-item .t2 {
	margin-top: 3px;
	margin-bottom: 6px;
	color: #333;
	font-weight: 700;
}

.cd-goods-show .slider-wrap2 .slider-list .slider-item .item-action {
	color: #e1251b;
	border-radius: 14px;
	width: 82px;
	height: 24px;
	box-sizing: border-box;
	line-height: 22px;
	font-weight: 700;
	padding-left: 4px;
	font-size: 12px;
	border: 1px solid #e1251b;
	margin-top: 4px;
	text-align: center;
	margin: 0 auto;
}

.cd-goods-show .slider-wrap2 .slider-list .slider-item .item-action a {
	color: #e1251b;
}

.cd-goods-show .slider-wrap2 .slider-list .slider-item .slider-lk {
	display: block;
	padding: 30px 30px 0 30px;
}

.cd-goods-show .slider-wrap2 .slider-list .slider-item .img-wrap {
	width: 120px;
	height: 120px;
}

.cd-goods-show .slider-wrap2 .slider-list .slider-item .img-wrap img {
	width: 100%;
	vertical-align: middle;
}
