body {
	-webkit-font-smoothing: antialiased; //去锯齿
	background-color: #f4f4f4;
	font-family: 'Microsoft YaHei';
	font-size: 12px;
	color: #666;
	margin: 0;
	padding: 0;
}

/* 去掉ul的三大件 */
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
	width:100%;
}

a:hover{
	color:#f10215 !important;
	opacity: 0.8;
}
/* 边框,内边距,收到盒子内部去绘制 */
div,
ul,
li {
	box-sizing: border-box;
}

a {
	color: #666;
	text-decoration: none;
}
i,
em{
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	font-weight: normal;
}

input,
button {
	border: none;
	/* 把边框去掉 */
	outline: none;
	/* 把外轮廓去掉 */
}

/* 清除浮动的类 */
.clearfix::after {
	content: "";
	display: table;
	/* 也可以写display:block; 老程序员喜欢写table */
	clear: both;
	/* 清除浮动 */
}

/* 是导航下面主题页面宽度的类 */
.layer {
	width: 1190px;
	margin: 0 auto;
}
